<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://labfile.oss.aliyuncs.com/amazeui/2.2.1/css/amazeui.min.css">
  </head>
  <body>
  <%- include header %>
  <%- include footer %>
  	<br>
  	<div>
	    <% if (success) { %>
	      <div><%= success %></div>
	    <% } %>
	    <% if (error) { %>
	      <div><%= error %> </div>
	    <% } %>
    </div>
  </body>
</html>
